// Fonts
$font-family-body = "ff-tisa-web-pro", Cambria, Georgia, Cochin, Times, "Times New Roman", "Hiragino Mincho", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", serif
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-size = 18px
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
$logo-grayout = hexo-config("logo.grayout") || false
// Colors
$colors = hexo-config("colorscheme") || "dark"
